
.workflow_step {
  background-color: white;
}

/* make titles of workflowsteps respect case */
.workflow_step .fieldset-title, .workflow_step LEGEND SPAN.fieldset-legend  {
  text-transform: none;
}

.workflow_step .fieldset-legend {
  overflow: hidden;
  width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* add step and add workflow steps buttons */
#edit-add-step > DIV {
  overflow: hidden;
}
#edit-add-step > DIV > DIV {
  float:left;
}
#edit-add-step > DIV > INPUT {
  float:left;
}
#edit-which-step {
  position: relative;
  top: -5px;
}
#add_step_button {
  position: relative;
  left: 10px;
}
#edit-which-workflow-steps {
  position: relative;
  top: -5px;
  left: 100px;
}
#add_workflow_steps_button {
  position: relative;
  left: 110px;
}

/* move up, move down and remove buttons to the right */
fieldset .fieldset-wrapper {
  overflow: hidden;
}
fieldset .fieldset-wrapper .fields {
  float:left;
  min-height: 140px;
  max-width: 80%;
}
fieldset .fieldset-wrapper .buttons  {
  float:right;
  width:150px;
  max-width: 20%;
}
fieldset .fieldset-wrapper .buttons > INPUT  {
  width:145px;
  float:right;
  clear:both;
}

/* grouped steps */
fieldset .grouped_steps {
  clear: both;
}

/* check data table */
.checkdatatable {
  width: auto;
}
.checkdatatable TH {
  text-transform: none;
}
.checkdatatable TD {
  border-width: 1px;
  border-style: dotted;
  border-color: #bebfb9;
  padding: 3px 10px;
}

/* short and full values */
.upi_fullvalue {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  padding: 0.5em; 
  overflow: auto;
}

/* errors */
.key_error, .config_error, .argument_error, .run_error, .check_error, .validate_error {
  color: red;
  border-width: 1px;
  border-style: dotted;
  border-color: red;
  padding: 3px 10px;
}
.check_error {
  border-style: solid;
}
.check_info, .validate_info {
  color: green;
  border-width: 1px;
  border-style: dotted;
  border-color: green;
  padding: 3px 10px;
  margin-bottom: 1em;
}

/* move here link */
.moveherelink {
  position: absolute;
  background-color: #eeeeee;
  padding: 0.0em 2em;
  z-index: 590;
  top:-1.5em;
  left:1.1em;
  text-align: center;
  border: 1px solid black;
}
#edit-steps > DIV.fieldset-wrapper {
  padding-top: 0.5em;
}
FIELDSET.visual_group_start + FIELDSET.visual_group_end > .moveherelink {
  display: block;
}
FIELDSET.visual_group_start.collapsed + FIELDSET.visual_group_end > .moveherelink {
  display: none;
}

/* data cache */
DIV.datacache {
  overflow-x: scroll;
}
DIV.datacache TABLE.filelisting TH.itemnr {
  width: 6em;
}
DIV.datacache TABLE.filelisting TH:first-child + TH + TH {
  width: 10em;
}
DIV.datacache TABLE.datalisting {
  width: auto;
  table-layout: fixed;
}
DIV.datacache TABLE.datalisting TH.itemnr {
  width: 6em;
  white-space: nowrap;
}
DIV.datacache TABLE.datalisting DIV.celldata {
  min-width: 6em;
  max-width: 24em;
  white-space: nowrap;
  overflow: hidden;
}
DIV.datacache TABLE.datalisting DIV.celldata .upi_fullvalue {
  white-space: pre;
}
DIV.datacache #usebutton {
  width: 15em;
}
DIV#loadingdata {
  position: absolute;
  width: 100%;
  padding-top: 5em;
  text-align: center;
}
